.page {
  min-height: 100vh;
  padding: 2rem;
  background: var(--background);
}

.header {
  border: 1px solid var(--header-border-color);
  text-align: left;
  margin-bottom: 3rem;
  padding: 1.5rem 2rem;
  max-width: 1200px;
  margin: 0 auto 2rem;
  border-radius: 12px;
  min-height: 9.125rem;
  background-image: linear-gradient(127deg,rgba(52, 79, 92, 1) 2%, rgba(76, 161, 111, 0.47) 50%, rgba(237, 221, 83, 0) 100%), url('/catalog-header-background.webp');
  background-size: cover;
  background-position: center;
}

.backLink {
  display: inline-block;
  margin-bottom: 1rem;
  color: var(--foreground);
  text-decoration: none;
  font-weight: 500;
  
  &:hover {
    text-decoration: underline;
  }
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--foreground);

  @media (max-width: 768px) {
    margin-bottom: 1.125rem;
  }
}

.subtitle {
  font-size: 1.2rem;
  color: var(--foreground);
  opacity: 0.8;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

// Responsive design
@media (max-width: 768px) {
  .page {
    padding: 1rem;
  }
  
  .title {
    font-size: 2rem;
  }
  
  .filterButtons {
    justify-content: center;
  }
}
